{% extends 'base.twig' %}
{% block body %}
    <div class="row">
        <div class="col-md-4">
            {% if _user is null %}
                {% include 'widget/login.twig' %}
            {% else %}
                <div class="panel panel-primary">
                    <div class="panel-heading">login</div>
                    <div class="panel-body">
                        Hi {{ _user.username|upper }}
                        <form action="{{ urlFor('logout-post') }}" method="post">
                            {% include 'util/csrf.twig' %}
                            <button class="btn btn-link">logout</button>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="col-md-4">
            {% if _user is not null %}
                <ul class="list-group">
                    {% for post in _user.getPosts() %}
                        <li class="list-group-item"><span
                                    class="text-primary">@{{ post.getUser().username }}</span> {{ post.text }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}