<div class="panel panel-primary">
    <div class="panel-heading">login</div>
    <div class="panel-body">
        <form action="{{ urlFor('login-post') }}" method="post">
            <input class="form-control" type="text" name="username" placeholder="username">
            <input class="form-control" type="password" name="password" placeholder="password">
            <button class="btn btn-primary btn-lg btn-block">login</button>
        </form>
    </div>
</div>